body {
  background-color: aliceblue;
}

.blog-post-card {
  width: 30%;
  border-radius: 20px;
  background-color: white;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.post-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 5px solid;
}

.post-content {
  padding: 10px;
}

.post-title {
  margin: 5px;
  margin-bottom: 10px;
  color: orange;
}

.post-excerpt {
  color: grey;
  margin: 10px;
  margin-bottom: 5px;
}

.read-more:hover {
  background-color: orange;
}

.read-more {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
}



