* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    * {
        scroll-behavior: auto;
    }
}

:root {
    --opacity-bg: #0a0a0cf3;
    --main-bg: #0A0A0C;
    --secondary-bg: #111014;
    --bg3: #1A1A1C;
    --bg4: #29292C;
    --bg5: #404046;
    --bg6: #27272A;
    --linear-gradient-bg: linear-gradient(to right, #111114, #101013);
    --main-color: #FFFFFF;
    --secondary-color: #FF6B2B;
    --third-color: #8F8F97; 
    --verybig-font: 1.35rem;
    --big-font: 1.25rem;
    --medium-font: 0.95rem;
    --small-font: 0.85rem;
    --verysmall-font: 0.7rem;
}

body {
    background-color: var(--main-bg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 20px;
    color: var(--third-color);
}

::-webkit-scrollbar {width: 7px;}

::-webkit-scrollbar-track {background: var(--main-bg);}

::-webkit-scrollbar-thumb {background: var(--secondary-color); border-radius: 99px;}

::-webkit-scrollbar-thumb:hover {background: #f15310;}

a[href] { -webkit-tap-highlight-color: transparent;}

/* custom Framework */

.padding-inline {padding-inline: 1.5rem;}

.padding-block {padding-block: 6rem;}

.p-style {color: var(--secondary-color); text-transform: uppercase; letter-spacing: 2px; font-size: 0.95rem;}

.p-style2 {text-transform: uppercase; margin-block: 1.5rem 0.5rem}

.h1-style {font-size: 3rem; margin-block: 0.5rem 1rem;}

.h2-style {font-size: 2.25rem;}

.h3-style {margin-block: 1rem 0.5rem; font-size: 1.25rem;}

.h1-style, .h2-style, .h3-style {color: var(--main-color)}

.section-heading {margin-bottom: 3rem}

.section-heading h2 span {display: block; line-height: 1;}

.border-radius {border-radius: 15px;}

.heading-color {color: var(--main-color);}

.color1 {color: var(--main-color)}

.underline-effect::after {
    content: "";
    width: 0;
    border-bottom: 1.5px solid var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.underline-effect.all-projects::after {
    border-bottom: 1.5px solid var(--third-color);
}

@media (hover:hover) and (pointer:fine) {
    .underline-effect:hover::after {
        width: 100%;
    }
}

@media (hover:none) and (pointer: coarse) {
    .underline-effect::after {transition: width 0.1s ease-in-out;}

    .underline-effect:focus::after, .underline-effect:active::after {
        width: 100%;
    }
}

/* Header */

header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--main-bg);
}

#main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

.logo {
    width: 50px;
}

#nav-link-list {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--third-color);
    transition: color 0.5s ease;
    position: relative;
    display: inline-block;
}

.hire-me-link {
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
    background-color: var(--secondary-color);
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.mini-svg {
    width: 15px;
    height: 10px;
    margin-left: 2px;
    transform: scale(1.5);
}

@media (hover:hover) and (pointer:fine) {
    .nav-link:hover {color: var(--main-color);}

    .hire-me-link:hover {background-color: #f87c47;}
}

@media (hover:none) and (pointer: coarse) {
    .hire-me-link:active, .hire-me-link:focus {background-color: #f87c47;}
}

@media screen and (orientation: landscape) and (max-height: 360px) {
  header {height: 20vh;}
}


/* Main body */

main {margin-top: 10vh;}

/* Hero section */

#hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
    background: radial-gradient(circle 300px at 60% 30%, #6e4b3c7d, transparent);
}

.introduction > p:first-of-type {text-transform: uppercase; letter-spacing: 2px; font-size: 0.95rem;}

.introduction > p:first-of-type,
.introduction > h1 span {color: var(--secondary-color);}

.introduction > p:nth-of-type(2) {margin-bottom: 2rem; font-size: var(--big-font);}

.introduction > p:nth-of-type(2) strong {color: var(--main-color)}

.view-my-work-link,
.get-in-touch-link {text-decoration: none; padding: 10px 30px; border-radius: 30px;}

.view-my-work-link {color: var(--main-bg); background-color: var(--main-color);}

.get-in-touch-link { 
    color:  var(--main-color); 
    border: 1px solid var(--third-color); 
    background-color: transparent;
    color: var(--third-color);
    font-weight: bold;
}

.hero-links {display: flex; gap: 1rem; justify-content: flex-start; flex-wrap: wrap; margin-bottom: 6rem;}

.experience {display: flex; justify-content: flex-start; gap: 35px;}

.experience div p:nth-child(1) {font-size: 2rem; font-weight: bolder;}

.experience div p:nth-child(2) {font-size: var(--small-font);} 

.image-container {display: flex; justify-content: center; align-items: center;}

.image-container .wrapper {position: relative;}

.sudip-UI-UX-designer-image {width: 260px; aspect-ratio: 1/1; border-radius: 15px;}

.image-container .wrapper p {
    position: absolute;
    bottom: -5px;
    left: -12px;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 15px;
}

@media (hover:hover) and (pointer:fine) {
    .view-my-work-link:hover {background-color: #e9e9e9;}

    .get-in-touch-link:hover {background-color: #15151b}
}

@media (hover:none) and (pointer: coarse) {
    .view-my-work-link:active, .view-my-work-link:focus {background-color: #e9e9e9;}

    .get-in-touch-link:active, .get-in-touch-link:focus {background-color: #15151b}
}


/* Services section */

#services {background: var(--linear-gradient-bg);}

.services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;
}

.service {padding: 2rem; transition: all 0.3s ease-in-out; font-size: var(--medium-font);}

.service.one, .service.three {border: 1px solid var(--bg4); background-color: var(--bg3);}

.service.two {background-color: var(--bg4); border: 1px solid transparent;}

.mini-svg2 {width: 25px; color: var(--secondary-color);}

.service > div {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #28282B;
    display: flex;
    justify-content: center;
}

.service.two > div {background-color: #404046;}

@media (hover: hover) and (pointer:fine) {
    .service:hover {transform: translateY(-6px);}

    :is(.service.one, .service.three):hover {background-color: #19191a;}

    .service.two:hover {border-color: var(--secondary-color)}

    :is(.service.one, .service.two, .service.three):hover  div {
        background-color: #f87c472d;
    }
}

/* Work section */

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.all-projects {color: var(--third-color); text-decoration: none; display: inline-block; position: relative;}

.project-image {width: 100%;}

.project {background-color: var(--bg3); transition: all 0.3s ease-in-out;}

.project-image {border-radius: 15px 15px 0 0;}

.written-content {padding: 0 1.5rem 1.5rem;}

.written-content a[href] {text-decoration: none; color: var(--main-color);}

.project-link {display: inline-block; margin-top: 1rem; position: relative;}

@media (hover: hover) and (pointer:fine) {
    .project:hover {transform: translateY(-6px);}   
}

/* About section */

#about {
    background: var(--linear-gradient-bg);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.autor-image-container {display: grid; place-items: center; order: 2;}

.author-image {width: 100%; aspect-ratio: 1/1; }

.about-author {order: 1;}

.skills {display: flex; flex-wrap: wrap; column-gap: 1rem; row-gap: 0.5rem;}

.skill {
    background-color: #40404662; 
    border: 1px solid var(--bg5);
    padding: 3px 10px;
    border-radius: 30px;
    color:#c7c6c6;
}

/* Reviews section */
.reviews {display: grid; grid-template-columns: 1fr; gap: 2rem; overflow: hidden;}

.mini-svg3 {width: 17px; fill: var(--secondary-color);}

.review {padding: 2rem;}

.review.one, .review.three {background-color: var(--bg3);}

.review.two {background-color: var(--bg4);}

div:has(> .mini-svg3) {display: flex;}

.review > p {font-style: italic; font-size: var(--small-font); line-height: 1.3; margin-block: 1rem;}

.review footer {
    display: flex; 
    gap: 10px; 
    align-items: center; 
    line-height: 1.2; 
}

.reviewer-image {width: 40px; aspect-ratio: 1/1; border-radius: 50%; vertical-align: middle;}

.review-data p:first-of-type { color: var(--main-color);}

.review-data p:last-of-type {font-size: var(--verysmall-font);}


/* Contact section */

.contact {
    display: grid; grid-template-columns: 1fr; gap: 2rem;
    padding: 2rem;
    background: radial-gradient(circle 250px at 90% 10%, #4C322B, transparent),
                radial-gradient(circle 150px at 10% 90%, #4C322B, #27272A);
    overflow: hidden;
}

.contact-links {margin-block: 2rem;}

.contact-links .contact-link:nth-child(-n+2) {margin-bottom: 0.5rem;}

.mini-svg4 {width: 25px; fill: var(--third-color)}

.contact-link.one span .mini-svg4 {fill: var(--bg6)}

.contact-link span:first-of-type { 
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--third-color);
}

@media (hover: hover) and (pointer:fine) {
    .contact-link:hover {color: var(--main-color)}

    .contact-link:hover .mini-svg4 {fill: var(--main-color);}

    .contact-link:hover span:first-of-type {background-color: #ad573270;}

    .contact-link.one:hover span .mini-svg4 {fill: #ad573270;}
}

@media (hover:none) and (pointer: coarse) {
    .contact-link:active, .contact-link:focus {color: var(--main-color)}

    :is(.contact-link:active, .contact-link:focus) .mini-svg4 {fill: var(--main-color);}

    :is(.contact-link:active, .contact-link:focus) span:first-of-type {background-color: #ad573270;}

    :is(.contact-link.one:active, .contact-link.one:focus) span .mini-svg4 {fill: #ad573270;}
}

/* Form */

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

label {display: block; font-size: var(--small-font);}

.name-and-email {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

input[type], textarea[name="message"] {
    width: 100%; 
    background-color: var(--bg6);
    border: 1px solid var(--bg5);
    padding: 15px 20px;
    border-radius: 10px;
}

:is(input[type], textarea[name="message"]):focus {
    outline: 1px solid var(--secondary-color)
}

:is(input[type], textarea[name="message"])::placeholder {
    color: #515158;
    font-size: var(--small-font);
}

textarea[name="message"] {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.form-button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--main-color);
    font-weight: bolder;
    padding-block: 15px;
    border-radius: 10px;
}

@media (hover:hover) and (pointer:fine) {
    .form-button:hover {background-color: #f38251;}
}

@media (hover:none) and (pointer: coarse) {
    .form-button:active, .form-button:focus {background-color: #f38251;}
}

/* Footer */

footer.page-footer {
    border-top: 1px solid var(--bg5); 
    padding-block: 2rem;
    font-size: var(--small-font);
    text-align: center;
}

footer.page-footer > p {font-size: var(--verysmall-font); margin-top: 1rem;;}

/* Responsive Media Queries */

@media (min-width: 480px) {
    /* About section */
    .author-image {width: 400px;}

    /* About section */

    .name-and-email {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 780px) {
    /* Header */
    header {background-color: var(--opacity-bg);}

    #nav-link-list {display: flex; gap: 2rem;}

    /* Hero section */

    #hero {
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
        background: none;
    }

    .hero-links {margin-bottom: 3rem;}
    
    .sudip-UI-UX-designer-image {width: 320px;}

    /* Services section */

    .services {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    /* Work section */

    .projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .project.one {grid-row: span 2;}

    :is(.project.two, .project.three) .project-image {aspect-ratio: 1.2/0.5;}

    /* About section */

    #about {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .autor-image-container {order: 1;}

    .author-image {width: 350px;}

    .about-author {order: 2;}

    /* Reviews section */

    .reviews {grid-template-columns: repeat(3, 1fr);}

    /* Contact section */

    .contact {
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem 3rem;
    }

    .contact-links {margin-bottom: 0;}

    /* footer */

    footer.page-footer {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
   /* Custom framework */

   .padding-inline {padding-inline: 5.5rem;}

   .h1-style {font-size: 4.5rem; margin-block: 0;}

   /* Header */ 

   #nav-link-list {
        gap: 2.75rem;
    }

   /* Hero section */

   #hero {
        gap: 9rem;
    }

   .introduction > p:nth-of-type(2) {font-size: var(--verybig-font);}

   .sudip-UI-UX-designer-image {width: 400px;}

   /* Work section */

   :is(.project.two, .project.three) .project-image {aspect-ratio: 1.3/0.5;}

   /* About section */

   .author-image {width: 450px;}

    /* Contact section */

    .contact {
        padding: 5rem 3.5rem;
        border-radius: 25px;
    }
}