* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 24px;
}

body {
  background-color: rgb(227, 242, 238);
}

.newspaper {
  width: 95%;
  max-width:1400px;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.center-alignment {
  text-align: center;
}

.name {
  text-transform: uppercase;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.date {
  font-size: 0.7rem;
  margin-bottom: 22px;
}

.headline {
  font-size: 1.4rem;
  margin: 22px 0;
}

.sub-headline {
  font-style: italic;
  margin: 20px 0;;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}

.text {
  font-size: 0.7rem;
  margin: 20px 0;
  text-indent: 10px;
}

.text::first-letter {
  font-size: 35px;
  font-weight: bold;
}
